{#include admin.html}
{#title}Slides Management{/title}

<h2>Slides Management</h2>

{#form uri:Admin.sendSlidesEmails()}
    <input type="submit" class="btn btn-primary" value="Send slides emails to ALL speakers (talks without slides)"
           onclick="return confirm('Send emails to all speakers of talks without slides?');" />
{/form}

<br/>

<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr>
            <th>Talk</th>
            <th>Speakers</th>
            <th>Slides URL</th>
            <th>Submit Link</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {#for talk in talks}
        <tr style="{#if talk.slidesUrl}background: #d4edda;{/if}">
            <td>{talk.title}</td>
            <td>
                {#for speaker in talk.speakers}
                    {speaker.firstName} {speaker.lastName}
                    {#if speaker.email}
                        &lt;{speaker.email}&gt;
                    {#else}
                        <em>(no email)</em>
                    {/if}
                    <br/>
                {/for}
            </td>
            <td>
                {#if talk.slidesUrl}
                    <a href="{talk.slidesUrl}" target="_blank">{talk.slidesUrl}</a>
                {#else}
                    <em>Not submitted</em>
                {/if}
            </td>
            <td>
                {#if talk.slidesSecret}
                    <a href="{uri:Application.submitSlides(talk.slidesSecret)}" target="_blank">Submit link</a>
                {#else}
                    <em>No secret</em>
                {/if}
            </td>
            <td style="white-space: nowrap;">
                {#form uri:Admin.sendTestSlidesEmail(talk.id)}
                    <input type="submit" value="Send test" title="Send test email to info@rivieradev.fr" style="margin-bottom: 4px;" />
                {/form}
                {#form uri:Admin.sendSlidesEmailForTalk(talk.id)}
                    <input type="submit" value="Send to speakers" onclick="return confirm('Send email to speakers of this talk?');" />
                {/form}
            </td>
        </tr>
        {/for}
    </tbody>
</table>

{/include}
