$photo-size: 150px;

$personSummary__desc-width: 18ch;
$personSummary__desc-visiblePaddingLeft: $space-sm;
$personSummary__desc-realPaddingLeft: calc(($photo-size / 2) + $personSummary__desc-visiblePaddingLeft);
$personSummary__desc-marginLeft: calc(($photo-size / 2) * -1);

.people {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            #{calc($photo-size + $personSummary__desc-visiblePaddingLeft + $personSummary__desc-width)}, 
            1fr
        )
    );
    gap: $space-md;

    &__person {
        width: 100%;
    }
}

.personSummary {
    display: flex;
    align-items: center;
    margin: 0;
    text-decoration: none;

    &__link {
        text-decoration: none;
    }

    &__photo {
        width: $photo-size;
        min-width: $photo-size;
        height: $photo-size;
        min-height: $photo-size;
        border-radius: $photo-size;
        background-size: cover;
        background-position: center;
        z-index: 1; // to be on top of desc
    }

    &__desc {
        display: flex;
        flex-direction: column;
        max-width: #{calc($personSummary__desc-realPaddingLeft + $personSummary__desc-width)};
        margin-left: $personSummary__desc-marginLeft;
        padding: $space-sm $space-md $space-sm $personSummary__desc-realPaddingLeft;
        border-radius: 0 2em 2em 0;
        background-color: $color-bleu-ciel;
        color: $color-beige;

        // [Start] Sweep to right on hover -----
        position: relative;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            border-radius: 0 2em 2em 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            background-color: $color-rouge-tomate;
        }
    }

    &__link {
        &:hover,
        &:focus,
        &:active {
    
            .personSummary__desc::before {
                transform: scaleX(1);
            }
        }
    }
    // [End] Sweep to right on hover -----

    &__name {
        font-weight: $bold;
    }

    &__title,
    &__year {
        font-size: $font-sm;
    }
}

.personDetails {
    $desc-marginLeft: calc($photo-size / 2 * -1);
    $desc-paddingLeft: calc(($photo-size / 2) + $space-md);

    $body-marginTop: calc($photo-size / 2 * -1);
    $body-visiblePaddingTop: 0px;
    $body-realPaddingTop: calc(($photo-size / 2) + $body-visiblePaddingTop);

    width: min(100%, 80ch);
    margin: 0 auto;

    &__header {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &__photo {
        width: $photo-size;
        min-width: $photo-size;
        height: $photo-size;
        min-height: $photo-size;
        background-size: cover;
        background-position: center;
        border-radius: $photo-size;
        z-index: 2; // on top of desc
    }

    &__desc {
        width: 100%;
        background-color: $color-mandarine;
        color: $color-beige;
        border-radius: $border-radius-lg;
        padding: $space-md $space-md $space-md $desc-paddingLeft;
        margin-left: $desc-marginLeft;
        z-index: 1; // on top of body
    }

    &__name {
        line-height: 1.5em;
        font-size: $font-xl;
        font-weight: $semi-bold;
    }

    &__title {
        font-size: $font-lg;
        font-weight: $light;
    }

    &__network {
        font-size: $font-xs;
        line-height: 2em;
        font-weight: $light;
        margin-top: $space-sm;
        font-weight: $semi-bold;

        & a {
            text-decoration: none;
        }
    }

    &__body {
        margin-top: $body-marginTop;
        padding: $body-realPaddingTop $space-lg $space-lg $space-lg;
        border-radius: $border-radius-lg;
        background-color: $color-white;
        font-size: $font-sm;
        line-height: 1.4em;
    }

    &__twitter:before,
    &__blog:before,
    &__micro:before {
        content: '';
        display: inline-block;
        width: $icon-size-lg;
        height: $icon-size-lg;
        vertical-align: middle;
    }

    &__twitter:before {
        background-image: url(/static/images/icons/twitter-logo-button.svg);
    }

    &__blog:before {
        background-image: url(/static/images/icons/link.svg);
    }

    &__micro:before {
        background-image: url(/static/images/icons/microphone.svg);
        vertical-align: text-bottom;
    }

    &__talk {
        line-height: 2em;
        text-decoration: none;
        font-size: $font-md;
        font-weight: $semi-bold;
        color: inherit;
        transition: color 0.2s;

        &:hover {
            color: $color-yellow;
        }

        &--quote {
            color: $color-yellow;
            margin: 0 0.2em;
        }
    }

    &__admin {
        font-size: $font-xs;
        position: absolute;
        bottom: $space-sm;
        right: $space-sm;
    }
}
