{#if orgas && orgas.size() > 0}
<div class="people">
    {#for orga in orgas}
    <a
        class="people__person personSummary__link"
        href="{uri:Application.organiser(orga.id)}"
        title="{orga.firstName} {orga.lastName}"
    >
        <figure class="personSummary">
            <div
                class="personSummary__photo"
                style="background-image: url('{uri:Application.orgaPhoto(orga.id)}')"
            ></div>
            <figcaption class="personSummary__desc">
                <div class="personSummary__name">{orga}</div>
                <div class="personSummary__title">{orga.title}</div>
            </figcaption>
        </figure>
    </a>
    {/for}
</div>
{/if}
