<div class="people">
    {#for speaker in speakers}
        <a class="people__person personSummary__link" href="{uri:Application.speaker(speaker.id)}" title="{speaker.firstName} {speaker.lastName}">
            <figure class="personSummary">
                <div class="personSummary__photo" style="background-image: url('{uri:Application.speakerPhoto(speaker.id)}')">
                </div>
                <figcaption class="personSummary__desc">
                    <div class="personSummary__name">{speaker}</div>
                    <div class="personSummary__title">{speaker.company}</div>
                </figcaption>
             </figure>
        </a>
    {/for}
</div>
