{#if sponsorsPreviousYears != null && sponsorsPreviousYears.size() > 0 }
<div class="text-center">
    <div class="partenaires__previousTitle">{m:tags.sponsorsPreviousYears.title}</div>
    <div class="partenaires__list">
        {#for sponsor in sponsorsPreviousYears}
            <a class="partenaire__logo" href="{sponsor.companyURL}" target="_blank" title="{sponsor.company}">
                <img class="partenaire__logoImg" src="{uri:Application.sponsorLogo(sponsor.id)}" />
            </a>
        {/for}
    </div>
</div>
{/if}
