<div class="talkDetails">
    <div class="talkDetails__header talkDetails__header--{talk.theme ? talk.theme.color.code : 'none'}">
        <div class="talkDetails__header--title">
            <div class="talkDetails__micro">
                <div class="talkDetails__title"><a href="{uri:Application.talk(talk.id)}">&laquo; {talk.title} &raquo;</a></div>
            </div>
            {#if talk.speakers}
            <div class="talkDetails__speakers">
                {#for speaker in talk.speakers}
                <div class="talkDetails__speaker">
                    <a  class="talkDetails__speaker--link"
                        href="{uri:Application.speaker(speaker.id)}">{speaker}</a>
                </div>
                {/for}
            </div>
            {/if}
        </div>
        <div class="talkDetails__header--schedule">
            <div>
            	{#if talk.slot}
	                {talk.slot.startDate.format('EEEE d MMMM')} {talk.slot.startDate.format('HH:mm')} - {talk.slot.endDate.format('HH:mm')}
	            {/if}
            </div>
            <div class="talkDetails__track">
            	{#if talk.track}
	                {talk.track.title}
	            {/if}
            </div>
        </div>
        {#if inject:user}
        <div class="talkDetails__bannerLink">
            <a target="_blank" href="/talk-banner/{talk.id}/{inject:i18n.get()}.png">Image pour les réseaux sociaux</a>
        </div>
        {/if}
    </div>
    <div class="talkDetails__body">
        {talk.getDescription().md()}
        <div class="talkDetails__metadata">
            {#if talk.theme}
            <span class="talkDetails__metadata--item">{talk.theme.toString().nobreak}</span>
            {/if} {#if talk.type}
            <span class="talkDetails__metadata--item">{talk.type.toString().nobreak}</span>
            {/if} {#if talk.level}
            <span class="talkDetails__metadata--item"
                >{m:'views.application.schedule.level.' + talk.level.code}</span
            >
            {/if} {#if talk.language}
            <span class="talkDetails__metadata--item"
                >{m:'views.application.talk.' + talk.language}</span>
            {/if}
        </div>
        
        {#if talk.slidesUrl}
            <div class="talkDetails__slides">
                <a href="{talk.slidesUrl}" target="_blank" class="button button--primary">
                    <img
                        src="/static/images/icons/computer-screen.svg"
                        alt=""
                        class="talkDetails__slidesIcon"
                    />
                    <span class="talkDetails__slidesLabel">{m:views.application.talk.slides}</span>
                </a>
            </div>
        {/if}
    </div>
    {#if talk.feedbackUrl}
        <div class="talkDetails__footer talkDetails__footer--{talk.theme ? talk.theme.color.code : 'none'}"">
            <div class="talkDetails__feedback">
                <a class="button button--white"
            href="{talk.feedbackUrl}"
            target="_blank"
        >
                {m:views.application.speakers.feedback-button}
            </a>
            </div>
        </div>
    {/if}
</div>
