<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Marché au poisson du {day.format('yyyy-MM-dd')}</title>

		{#bundle key="fishmarket"/}

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet"> 
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
			{#for slot in model_Slot:findMultiPerDay(day)}
				{#for track in tracksForDay}
					{#for talk in slot.getTalksPerTrack(track)}
					<section>
						<div class="card">
							<div class="talk">
								<div class="speakers">
									{#for speaker in talk.speakers}
									<div class="speaker">
										<span class="speaker_name">
											{speaker.firstName} {speaker.lastName}
										</span>
										<img class="speaker_logo" 
											src="{uri:Application.speakerPhoto(speaker.id)}" 
											alt="{speaker.firstName} {speaker.lastName}" />
									</div>
									{/for}
								</div>
								<h1>{talk.title}</h1>
								<div class="slot">
									{#if talk.slot}
										{talk.slot.startDate.format('HH:mm')} - {talk.slot.endDate.format('HH:mm')}
									{/if}
									—
									{#if talk.track}
										{talk.track.title}
									{/if}
								</div>
							</div>
							<div class="timer">30</div>
						</div>
					</section>
					{/for}
				{/for}
			{/for}
			</div>
		</div>

	</body>
</html>
